
.bubble {
    padding: 10px;
    background-color: rgba(10,10,10,0.7);
    border-width: 1px solid black;
    border-radius: 5px;
}

.bubble StTable {
    padding: 5px;
    spacing: 5px;
}

.bubble-text {
    font-family: "Shadows Into Light Two";
    font-size: 30px;
    color: #ffffff;
    padding: 3px;
}

.bubble-arrow {
  padding: 8px;
  background-image: url("arrow.svg");
}
